* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  border: 0;
  font-family: 'Raleway', 'sans-serif';
}
body {
  background-color: #111;
}
.container {
  width: 1200px;
  margin: auto;
}
@mixin h2 {
  text-transform: uppercase;
  border-bottom: 10px solid $color;
  width: 330px;
  margin-left: 67px;
  padding-top: 30px;
  letter-spacing: 2px;
  color: #555;
}