.contact {
  background-color: #fff;
  padding: 30px 0;
  h2 {
    text-transform: uppercase;
    border-bottom: 10px solid $color;
    width: 330px;
    margin-left: 70px;
    letter-spacing: 2px;
    color: #555;
  }
  .contact-form {
    margin: 35px 70px;
    form {
      display: flex;
      .form-left {
        width: 600px;
        input {
          width: 600px;
          height: 60px;
          border: 1px solid $color;
          margin-top: 10px;
          font-size: 32px;
          color: #888;
          line-height: 46px;
          padding-left: 10px;
        }
        textarea {
          width: 600px;
          height: 200px;
          border: 1px solid $color;
          margin-top: 10px;
          font-size: 32px;
          color: #888;
          line-height: 46px;
          padding-left: 10px;
        }
        .warn {
          color: red;
          font-size: 18px;
          margin-top: 5px;
          visibility: hidden;
        }
      }
      .form-right {
        position: relative;
        margin-left: 50px;
        img {
          margin: 0 0 35px 50px;
        }
        input {
          height: 48px;
          width: 48px;
          display: block;
          margin: 0;
          opacity: 1;
          position: absolute;
          &:checked + label::after {
            display: block;
          }
        }
        label {
          display: block;
          color: #888;
          font-size: 20px;
          height: 48px;
          padding-left: 80px;
          &:before {
            content: "";
            border: 1px solid $color;
            width: 50px;
            height: 48px;
            position: absolute;
            margin-top: 30px;
            background-color: #fff;
            display: block;
            left: 0;
            top: 218px;
            cursor: pointer;
          }
          &:after {
            content: "";
            width: 48px;
            height: 48px;
            position: absolute;
            margin-top: 30px;
            background: url(../../src/images/form_ok.jpg) no-repeat center;
            display: none;
            left: 1px;
            top: 218px;
            cursor: pointer;
          }
        }
        .warn {
          color: red;
          font-size: 18px;
          margin-top: 5px;
          visibility: hidden;
        }
        button {
          width: 350px;
          height: 70px;
          background-color: $color;
          color: #fff;
          text-transform: uppercase;
          font-size: 30px;
          font-weight: 700;
          border-radius: 10px;
          margin-top: 8px;
        }
        .send-info {
          color: green;
          font-size: 18px;
          margin-top: 5px;
          visibility: hidden;
        }
      }
    }
  }
}
footer {
  display: flex;
  background-color: #fff;
  justify-content: space-around;
  padding-bottom: 30px;
  .site-info {
    width: 600px;
    margin-left: 67px;
    color: #888;
    letter-spacing: 2px;
  }
  h3 {
    margin-right: 67px;
    text-transform: uppercase;
    color: #888;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 20px;
    span {
      font-weight: 800;
    }
  }
}